.chatScreen__message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatScreen {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 430px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.chatScreen__text{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen__timestamp{
    text-align: center;
    padding: 20px;
    color: gray;
}

.chatScreen__textUser{
    margin-left: auto;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
}

.chatScreen__input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    width: 35%;
    margin-left: 10px;
}

.chatScreen__inputField{
    flex: 1;
    padding: 10px;
    border: none;
}

.chatScreen__inputButton{
    border: none;
    margin-right: 20px;
    border-color: white;
    font-weight: bolder;
    color: violet;
}
